.quickinfos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hostinfos {
  display: flex;
  flex-direction: column;
}

.title-locations {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-locations p {
  margin: 0;
}
.taglist {
  display: flex;
  gap: 10px;
  padding: 0;
}
.taglist p {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff6060;
  border-radius: 10px;
  width: 115px;
  height: 25px;
  color: white;
  text-align: center;
  font-size: 14px;
}

.title-locations h1 {
  max-width: 635px;
}
.host {
  display: flex;
}
.host img {
  border-radius: 90px;
  max-width: 64px;
  max-height: 64px;
  margin-left: 10px;
}
.host p {
  font-size: 18px;
}

.moreinfos {
  display: flex;
  gap: 76px;
}

.moreinfos button {
  width: 100%;

  margin: auto;
}
.moreinfos.collapsebutton {
  width: 100%;
}

.moreinfos p {
  padding-top: 10px;
  margin-top: 0;
  background: #f7f7f7;
  border-radius: 10px;
  font-size: 18px;
  line-height: 142.6%;
}

.moreinfos li {
  margin-top: 0;
  background: #f7f7f7;
  border-radius: 10px;
  font-size: 18px;
  list-style: none;
  line-height: 142.6%;
}

@media (max-width: 480px) {
  .quickinfos {
    flex-direction: column;
    align-items: stretch;
  }

  .hostinfos {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16.5px;
  }
  .rating img {
    max-width: 13px;
  }
  .host {
    align-items: center;
  }
  .host img {
    max-width: 32px;
  }
  .host p {
    font-size: 12px;
  }

  .moreinfos {
    flex-direction: column;
    gap: 26px;
  }
  .buttonholder p {
    font-size: 12px;
    margin-left: 11px;
  }
  .buttonholder li {
    font-size: 12px;
    margin-left: 11px;
    margin-top: 5px;
  }
}
