.slideshow-container {
  position: relative;
  width: 100%;
  max-width: 1240px;
  height: 415px;
  margin: 0 auto;
}

.slideshow-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.previous-button,
.next-button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  padding: 8px 16px;
}

.previous-button {
  left: 0;
}

.next-button {
  right: 0;
}

@media (max-width: 480px) {
  .slideshow-container {
    height: 255px;
  }

  .next-button img {
    height: 19.8px;
  }
  .previous-button img {
    height: 19.8px;
  }
}
